@import '../../../styles/variables';

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    margin: auto;


    .table {
        border-collapse: collapse;
        margin: 1rem 0;
        font-size: 1rem;
        width: 100%;
        table-layout: auto;
        cursor: pointer;
        border-radius: 0.5rem;
        overflow: hidden;

        thead {
            background-color: $color-primary;
            color: $color-tertiary;

            th {
                padding: 0.4rem;
                font-weight: 400;
                font-size: 1.1rem;
                text-align: center;
            }
        }

        tbody {

            tr:hover {
                background-color: $color-table-hover;
            }

            td {
                padding: 0.6rem;
                border-bottom: 0.1rem solid $color-border;
            }
        }

    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;

        .title {
            font-size: 1rem;
        }

        .table {
            margin: 0.5rem;

            thead {
                th {
                    font-size: 0.8rem;
                }
            }

            tbody{
                td{
                    padding: 0.5rem;
                }
            }

            font-size: 0.7rem;
        }
    }
}