@import '../../../styles/variables';

.banner {
    position: relative;
    display: block;
}

.floatButton {
    position: absolute;
    bottom: 10%;
    left: 7%;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
    }


    .link {
        text-decoration: none;
        color: $color-tertiary;
    }
}

