@import '../../../styles/variables';

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;

    .link{
        text-decoration: none;
        color: $color-secondary;
    }

    .navContainer{
        display: flex;
        gap: 0.2rem;
    }
}

@media (max-width: 768px) {
    .title{
        font-size: 1.1rem;
    }
}