@import '../../../styles/variables';
@import '../../../styles/mixins.scss';


.containerForm{
    @include box-shadow();
    background-color: $color-tertiary;
    padding: 2rem;
    width: 35%;
    margin: auto;
    border-radius: 1rem;

    .buttonForm{
        text-align: center;
        margin: 0.8rem 0;
    }

    .title{
        text-align: center;
    }

    .footerForm{
        display: flex;
        justify-content: center;

        .link{
            color: $color-secondary;
        }
    }
}

@media (max-width: 768px) {
    .containerForm{
        width: 90%;

        .footerForm{
            font-size: 0.75rem;
        }
    }
}