@import '../../../styles/variables';

.header{
    display: flex;
    align-items: center;
    gap: 0.3rem;

    svg{
       font-size: 1.5rem;
    }
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pending{
    margin-left: 1rem;
    background-color: $color-pending;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
}

.actions{
    margin: auto;
    width: 35%;
}

@media (max-width: 768px) {
    .pagination{
        font-size: 0.8rem;
        gap: 0.5rem;
    }
}