@import '../../../styles/variables';

.button {
    font-family: var(--font-principal);
    padding: 0.3rem 1.1rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:active{
        transform: scale(0.95);
    }
}

.primary {
    color: $color-primary;
    border: 0.1rem solid $color-primary;
}

.secondary{
    color: $color-secondary;
    border: 0.1rem solid $color-secondary;
}