@import '../../../styles/variables';


.button {
    font-family: var(--font-principal);
    padding: 0.45rem 0.6rem;
    font-weight: 300;
    font-size: 0.85rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 100%;

    &:active{
        transform: scale(0.95);
    }
}

.primary {
    background-color: $color-primary;
    color: $color-tertiary;
    border: 0.1rem solid $color-primary;
    border-radius: 2rem;
}

.secondary{
    color: $color-secondary;
    border: 0.1rem solid $color-secondary;
}

.banner{
    background-color: $color-primary;
    color: $color-tertiary;
    border-radius: 2rem;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 1rem;
}

.modal{
    background-color: transparent;
    padding: 0.1rem;
    color: $color-primary;

    svg{
        font-size: 2.1rem;
        display: flex;
        align-items: center;
    }
}

.pagination{
    width: auto;
    background-color: $color-primary;
    padding: 0.1rem;
    color: $color-tertiary;

    svg{
        font-size: 1.4rem;
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .banner{
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
    }
}
