@import '../../../styles/variables';

.container{
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;

    .link{
        font-size: 1.1rem;
        text-decoration: none;
        font-weight: 800;
        margin: 1rem;
        color: $color-secondary;
        padding: 0.5rem;
    }

    .active{
        border-bottom: 0.2rem solid $color-primary;

    }

}

@media (max-width: 768px) {
    .container{
        .link{
            font-size: 0.9rem;
            margin: 0.5rem;
        }
    }
}
